<label>Filter City: </label>
<input [(ngModel)]="City">
<button type="button" (click)="onCityFilter()">Search</button>
<button type="button" (click)="onCityFilterClear()">Clear Filter</button>

<label>Sort by &nbsp;</label>
<select [(ngModel)]="SortByParam">
  <option value="City">City</option>
  <option value="Price">Price</option>
</select>
<button type="button" (click)="onSortDirection()">
  <i *ngIf="SortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
  <i *ngIf="SortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
</button>

<div class="row">
    <div *ngFor="let property of propertyList|filter:SearchCity:'City'|sort:[SortByParam, SortDirection]" class="shadow-lg col-sm-4 p-3">
        <app-property-card [property] = "property"></app-property-card>
    </div>
</div>
