<div class="row mb-5">
<div class="col-8 shadow-lg p-0 bg-white">
  <div class="card">
    <div class="card-header">
      <h3>List your property</h3>
    </div>
    <div class="card-body ms-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="addPropertyForm">
        <div class="tab-panel">
          <tabset class="member-tabset" #tabs>
            <tab heading="General Info" formGroupName="GeneralInfo">
              <div class="mb-3 col-12">
                <p>I want to</p>
                <div class="btn-group" btnRadioGroup formControlName="SellRent">
                  <label class="btn btn-outline-primary me-2" btnRadio=1 tabindex="0" role="button" name="SellRent">Sell</label>
                  <label class="btn btn-outline-primary" btnRadio=2  tabindex="0" role="button" name="SellRent">Rent</label>
                </div>
                <div class="error-block" *ngIf="SellRent.invalid && nextClicked">
                  Please select sell or rent
                </div>
              </div>

              <div class="mb-3 col-12">
                <p>BHK</p>
                <div class="btn-group" btnRadioGroup name="bhk" formControlName="BHK"
                [(ngModel)]="propertyView.BHK">
                  <label
                  *ngFor="let bhk of [1,2,3,4]"
                  class="btn btn-outline-primary me-2"
                  [btnRadio]="bhk" tabindex="0" role="button" name="bhk" >{{bhk}}</label>
                </div>
                <div class="error-block" *ngIf="BHK.invalid && nextClicked">
                  Please select room count
                </div>
              </div>

              <div class="mb-3 col-12">
                <p>Property type</p>
                <div class="btn-group" btnRadioGroup name="ptype" [(ngModel)]="propertyView.PType" formControlName="PType">
                  <label
                  *ngFor="let ptype of propertyTypes"
                  class="btn btn-outline-primary me-2"
                  [btnRadio]="ptype" tabindex="0" role="button" name="SellRent" >{{ptype}}</label>
                </div>
                <div class="error-block" *ngIf="PType.invalid && nextClicked">
                  Please select property type
                </div>
              </div>

              <div class="mb-3 col-12">
                <p>Furnishing type</p>
                <div class="btn-group" btnRadioGroup name="ftype" [(ngModel)]="propertyView.FType" formControlName="FType">
                  <label
                  *ngFor="let ftype of furnishingTypes"
                  class="btn btn-outline-primary me-2"
                  [btnRadio]="ftype" tabindex="0" role="button" name="SellRent" >{{ftype}}</label>
                </div>
                <div class="error-block" *ngIf="FType.invalid && nextClicked">
                  Please select furnishing status
                </div>
              </div>

              <div class="mb-3 col-12">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="Name" minlength="5" [(ngModel)]="propertyView.Name" formControlName="Name">
                <div class="error-block" *ngIf="Name.invalid && nextClicked">
                  Please enter the name
                </div>
              </div>

              <div class="mb-3 col-12">
                <label for="city">City</label>
                <input type="text" class="form-control" name="City" [(ngModel)]="propertyView.City" formControlName="City">
                <div class="error-block" *ngIf="City.invalid && nextClicked">
                  Please enter the city
                </div>
              </div>

              <div class="d-grid">
                <button type="button" class="btn btn-primary btn-block" (click)="selectTab(1, GeneralInfo.valid)">Next</button>
              </div>
            </tab>


            <tab heading="Pricing and Area" formGroupName="PriceInfo">

              <div class="mb-3 col-12">
                <label *ngIf="SellRent.value==1">Price (in USD)</label>
                <label *ngIf="SellRent.value==2">Rent (in USD)</label>
                <input type="text" class="form-control" name="price" [(ngModel)]="propertyView.Price" formControlName="Price">
                <div class="error-block" *ngIf="Price.invalid && (nextClicked || Price.touched)">
                  Please select
                  <span *ngIf="SellRent.value==1;else ShowRent">price</span>
                  <ng-template #ShowRent>rent</ng-template>
                </div>
              </div>

              <div class="mb-3 col-12">
                <label>Security (in USD)</label>
                <input type="text" class="form-control">
              </div>

              <div class="mb-3 col-12">
                <label>Maintenance (in USD)</label>
                <input type="text" class="form-control">
              </div>

              <div class="mb-3 col-12">
                <label>Built Area (in Sqr Feet)</label>
                <input type="text" class="form-control" name="BuiltArea" [(ngModel)]="propertyView.BuiltArea" formControlName="BuiltArea">
                <div class="error-block"*ngIf="BuiltArea.invalid && nextClicked">Please select built up area</div>
              </div>

              <div class="mb-3 col-12">
                <label>Carpet Area(In Sqr Feet)</label>
                <input type="text" class="form-control">
              </div>
              <div class="d-grid gap-2">
                <div class="d-grid gap-2">
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(2, PriceInfo.valid)">Next</button>
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(0, true)">Back</button>
                </div>
              </div>
            </tab>


            <tab heading="Address" formGroupName="AddressInfo">

              <div class="mb-3 col-12">
                <label>Floor</label>
                <input type="text" class="form-control" formControlName="FloorNo">
              </div>

              <div class="mb-3 col-12">
                <label>Total Floor</label>
                <input type="text" class="form-control" formControlName="TotalFloor">
              </div>

              <div class="mb-3 col-12">
                <label>Address</label>
                <input type="text" class="form-control" formControlName="Address">
                <div class="error-block"*ngIf="Address.invalid && (nextClicked || Address.touched)">Please select address</div>
              </div>

              <div class="mb-3 col-12">
                <label>Landmark</label>
                <input type="text" class="form-control" formControlName="Landmark">
              </div>
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary btn-block" (click)="selectTab(3, AddressInfo.valid)">Next</button>
                <button type="button" class="btn btn-primary btn-block" (click)="selectTab(1, true)">Back</button>
              </div>
            </tab>


            <tab heading="Other Details" formGroupName="OtherInfo">

              <div class="mb-3 col-12">
                <label>Ready to Move</label><br/>
                <div class="btn-group" btnRadioGroup formControlName="RTM">
                  <label class="btn btn-outline-primary me-2" btnRadio=1 tabindex="0" role="button" name="Ready">Yes</label>
                  <label class="btn btn-outline-primary" btnRadio=2  tabindex="0" role="button" name="Ready">No</label>
                </div>
                <div class="error-block" *ngIf="RTM.invalid && nextClicked">
                  Please select ready to move
                </div>
              </div>

              <div *ngIf="RTM.value == 2 or RTM.value == null" class="mb-3 col-12">
                <label>Possession/Avaialble From</label>
                <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
                  <input type="text"
                    placeholder="date"
                    class="form-control"
                    bsDatepicker [bsConfig]="{containerClass : 'theme-blue'}"
                    formControlName="PossessionOn">
                </div>
              </div>
              <div *ngIf="RTM.value == 1" class="mb-3 col-12">
                <label>Age of property</label>
                <input type="text" class="form-control" formControlName="AOP">
              </div>

              <div class="mb-3 col-12">
                <p>Gated Community</p>
                <div class="btn-group"
                btnRadioGroup
                formControlName="Gated">
                  <label class="btn btn-outline-primary mr-2"
                  btnRadio=1 tabindex="0" role="button" name="Gated">Yes</label>
                  <label class="btn btn-outline-primary"
                  btnRadio=2  tabindex="0" role="button" name="Gated">No</label>
                </div>
              </div>

              <div class="form-group col-12">
                <p>Main Entrance</p>
                <div class="btn-group" btnRadioGroup
                formControlName="MainEntrance">
                  <label class="btn btn-outline-primary mr-2"
                  btnRadio=1 tabindex="0" role="button" name="Entrance">East</label>
                  <label class="btn btn-outline-primary"
                  btnRadio=2  tabindex="0" role="button" name="Entrance">West</label>
                  <label class="btn btn-outline-primary"
                  btnRadio=3  tabindex="0" role="button" name="Entrance">South</label>
                  <label class="btn btn-outline-primary"
                  btnRadio=4  tabindex="0" role="button" name="Entrance">North</label>
                </div>
              </div>

              <div class="mb-3 col-12">
                <label>Description</label>
                <textarea type="text" class="form-control" rows="6"></textarea>
              </div>
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary btn-block" (click)="selectTab(4, OtherInfo.valid)">Next</button>
                <button type="button" class="btn btn-primary btn-block" (click)="selectTab(2, true)">Back</button>
              </div>
            </tab>


            <tab heading="Photos">
              <div class="mb-3 col-12">
                <div class="photo-control">
                    <button class="mt-5" type="button">Upload</button> <br>
                    This is under construction
                </div>
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button type="button" class="btn btn-primary btn-block" (click)="selectTab(3, true)">Back</button>
                <button type="reset" class="btn btn-primary">Cancel</button>
              </div>
            </tab>
          </tabset>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-4">
  <div class="card">
    <div class="card-header">
      <h3>Your property preview</h3>
    </div>
      <div class="shadow-lg p-3">
        <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
      </div>
    </div>
  </div>
</div>
